* {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: inline-block;
}

.hud {
    position: absolute;
    display: flex;
    width: 100%;
    /* Total width of the canvas */
    align-items: center;
    padding: 20px;
}

.healthLayout {
    position: relative;
    height: 30px;
    width: 100%;
}

.remainingHealthbar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.totalHealthBar{
    position: absolute;
    background-color: green;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.timer {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}