@font-face {
    font-family: 'silver';
    src: url(../assets/fonts/Silver.ttf);
}

body {
    box-sizing: border-box;
    background-color:seashell;
}

h1 {
    margin: 0px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

.hud {
    position: absolute;
    display: flex;
    width: 50%;
    align-items: center;
    padding: 20px;
}

.healthLayout {
    position: relative;
    height: 30px;
    width: 100%;
}

.remainingHealthbar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.totalHealthBar{
    position: absolute;
    background-color: green;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.timer {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    color: wheat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.game {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.keymapping {
    display: flex;
    justify-content: center;
    font-family: 'silver';
    font-size: 40px;
}

.keys {
    margin: 30px;
    padding: 40px;
    border: 2px solid black;
}